<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jackdaw.javapro.mapper.ChatConnectMapper">

    <resultMap id="BaseResultMap" type="com.jackdaw.javapro.model.domain.ChatConnect">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="fromName" column="fromName" jdbcType="VARCHAR"/>
            <result property="toName" column="toName" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="del_flag" column="del_flag" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,fromName,toName,
        createTime,updateTime,del_flag
    </sql>
</mapper>
